.landing-page-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  height: 100%;

  .landing-page-form {
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  ion-input, ion-button {
    width: 100%;
  }

  ion-text {
    display: block;
    margin-left: 8px;
  }

  .google-signIn {
    margin-top: 48px;
    background-image: url('../../assets/btn_google_signin_light_normal.png');
    width: 191px;
    height: 46px;
    background-size: contain;
  }

  ion-item-divider {
    margin-top: 48px;
    text-align: center;

    ion-label {
      width: 100%;
    }
  }
}
