.landing-page-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  height: 100%;

  .landing-page-form {
    padding: 24px;
  }

  ion-text {
    display: block;
    margin-left: 8px;
  }

  .google-signIn {
    margin-top: 48px;
    background-image: url('../../assets/btn_google_signin_light_normal.png');
    width: 62.5%;
    padding-top: 15%;
    margin-left: 18.75%;
    background-size: contain;
  }
}
