<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-text>
        <h1>Transaction</h1>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-note slot="end" color="dark">
        <a (click)="viewTx($event)">{{ shortId() }}</a>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Balance change</ion-label>
      <ion-note slot="end" *ngIf="tx?.amount_received > 0" color="success">
        <p>+{{ tx?.amount_received }}</p>
      </ion-note>
      <ion-note slot="end" *ngIf="tx?.amount_sent > 0" color="danger">
        <p>-{{ tx?.amount_sent }}</p>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Status</ion-label>
      <ion-note slot="end" color="success" *ngIf="tx?.confirmations >= 1"
        >Confirmed</ion-note
      >
      <ion-note slot="end" color="medium" *ngIf="tx?.confirmations < 1"
        >Pending</ion-note
      >
    </ion-item>

    <ion-item>
      <ion-label>Confirmations</ion-label>
      <ion-note slot="end" color="dark">{{ tx?.confirmations }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Timestamp</ion-label>
      <ion-note slot="end" color="dark">{{ fullDate() }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
