<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{user?.username}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{user?.username}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="balance-container">
    <ion-text color="medium">
      <p>Chequing balance</p>
    </ion-text>

    <ion-text color="dark">
      <h1>{{getBalance()}} BTC</h1>
    </ion-text>
  </div>

  <div class="button-container">
    <ion-button color="primary">
      <ion-icon slot="end" name="arrow-up-outline"></ion-icon>
      Send
    </ion-button>

    <ion-button color="secondary" (click)="toggleAddress()">
      <ion-icon slot="end" name="arrow-down-outline"></ion-icon>
      Receive
    </ion-button>
    <ion-button color="light">
      <ion-icon slot="end" name="cash-outline"></ion-icon>
      Request
    </ion-button>

  </div>

  <ion-card *ngIf="showAddress && address">
    <ion-card-content>
      <div class="barcode-container">
          <qrcode
          [qrdata]="address"
          [width]="256"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
        {{address}}
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Transactions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngFor="let transaction of transactions">
        <div *ngIf="transaction && transaction.amount_received > 0">
          Received {{transaction.amount_received }}
        </div>
        <div *ngIf="transaction && transaction.amount_sent > 0">
          Sent {{transaction.amount_sent }}
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
