<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Home </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="balance-container">
    <ion-text color="medium">
      <p>
        Chequing balance ( Testnet
        <ion-icon
          class="info-icon"
          color="medium"
          slot="end"
          name="help-circle-outline"
          (click)="presentTestnet()"
        ></ion-icon>
        )
      </p>
    </ion-text>

    <ion-text color="dark">
      <h1>{{isLoading ? 0 : getBalance()}} BTC</h1>
    </ion-text>

    <div
      class="pending-balance"
      *ngIf="!isLoading && bitcheqUser?.pendingBtcBalance"
    >
      <ion-text color="medium">
        <small
          >{{bitcheqUser?.pendingBtcBalance ? 'Pending balance ' +
          bitcheqUser.pendingBtcBalance + ' BTC' : ''}}
        </small>
      </ion-text>
      <ion-icon
        class="info-icon"
        color="medium"
        slot="end"
        name="help-circle-outline"
        (click)="presentTooltip()"
      ></ion-icon>
    </div>
  </div>

  <div class="button-container">
    <ion-button color="primary" size="small" (click)="toggleSend()">
      <ion-icon slot="end" name="arrow-up-outline"></ion-icon>
      Send
    </ion-button>

    <ion-button color="secondary" (click)="toggleAddress()" size="small">
      <ion-icon slot="end" name="arrow-down-outline"></ion-icon>
      Receive
    </ion-button>
  </div>

  <ion-card *ngIf="showSend">
    <ion-card-content>
      <form
        [formGroup]="sendForm"
        (ngSubmit)="submitSendForm()"
        class="send-form"
      >
        <ion-text color="dark">
          <h4 class="send-hint">
            Please only enter a valid Bitcoin Testnet address
          </h4>
        </ion-text>
        <ion-input
          placeholder="Amount to send"
          formControlName="amount"
          maxlength="8"
          type="number"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="sendFormSubmitted && !sendForm.controls.amount.valid"
        >
          <p>
            Amount is not valid, please inupt a number between 0.00002 and 5,
            with maximum 8 decimal places
          </p>
        </ion-text>
        <ion-input
          placeholder="Enter address"
          formControlName="address"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="sendFormSubmitted && !sendForm.controls.address.valid"
        >
          <p>Address is not valid</p>
        </ion-text>
        <ion-button color="light" expand="block" (click)="scan()">Scan</ion-button>
        <ion-button color="dark" expand="block" type="submit">Send</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showAddress && address">
    <ion-card-content>
      <div class="barcode-container">
        <qrcode
          [qrdata]="address"
          [width]="256"
          [errorCorrectionLevel]="'M'"
        ></qrcode>

        <ion-input id="address-input" [ngModel]="address" [disabled]="true">
        </ion-input>

        <div class="barcode-container-buttons">
          <ion-button
            color="light"
            (click)="copy()"
            [disabled]="copied"
            size="small"
          >
            <ion-icon
              slot="icon-only"
              name="copy-outline"
              size="small"
            ></ion-icon>
          </ion-button>

          <ion-button color="light" size="small" (click)="requestBitcoin()">
            <ion-icon slot="end" name="cash-outline"></ion-icon>
            Request
          </ion-button>
        </div>

        <ion-text color="success" *ngIf="copied">Address copied</ion-text>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="transaction-container">
    <div class="transaction-title">
      <ion-text color="dark">
        <h1>Transactions</h1>
      </ion-text>

      <ion-text *ngIf="!transactions?.length" color="medium">
        <p>No transaction yet</p>
      </ion-text>
    </div>

    <ion-list>
      <ion-item *ngFor="let transaction of transactions" lines="none">
        <div class="transaction-row" (click)="presentTransaction(transaction)">
          <div class="transaction-date">
            <ion-text> {{getTransactionTime(transaction)}} </ion-text>
          </div>
          <div class="transaction-amount">
            <ion-text
              *ngIf="transaction && transaction.balance_change > 0"
              color="success"
            >
              <p>+{{transaction.balance_change}}</p>
            </ion-text>
            <ion-text
              *ngIf="transaction && transaction.balance_change < 0"
              color="danger"
            >
              <p>{{transaction.balance_change}}</p>
            </ion-text>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
