<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Hi {{user?.username}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Hi {{user?.username}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="balance-container">
    <ion-text color="medium">
      <p>Chequing balance</p>
    </ion-text>

    <ion-text color="dark">
      <h1>{{getBalance()}} BTC</h1>
    </ion-text>
  </div>

  <div class="button-container">
    <ion-button color="primary">
      <ion-icon slot="end" name="arrow-up-outline"></ion-icon>
      Send
    </ion-button>

    <ion-button color="secondary" (click)="toggleAddress()">
      <ion-icon slot="end" name="arrow-down-outline"></ion-icon>
      Receive
    </ion-button>
    <ion-button color="light">
      <ion-icon slot="end" name="cash-outline"></ion-icon>
      Request
    </ion-button>
  </div>

  <ion-card *ngIf="showAddress && address">
    <ion-card-content>
      <div class="barcode-container">
        <qrcode
          [qrdata]="address"
          [width]="256"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
        {{address}}
      </div>
    </ion-card-content>
  </ion-card>

  <div class="transaction-container">
    <div class="transaction-title">
      <ion-text color="dark">
        <h1>Transactions</h1>
      </ion-text>
    </div>

    <ion-list>
      <ion-item *ngFor="let transaction of transactions" lines="none">
        <div class="transaction-row" (click)="presentTransaction(transaction)">
          <div class="transaction-date">
            <ion-text> {{getTransactionTime(transaction)}} </ion-text>
          </div>
          <div class="transaction-amount">
            <ion-text
              *ngIf="transaction && transaction.amount_received > 0"
              color="success"
            >
              <p>+{{transaction.amount_received }}</p>
            </ion-text>
            <ion-text
              *ngIf="transaction && transaction.amount_sent > 0"
              color="danger"
            >
              <p>-{{transaction.amount_sent }}</p>
            </ion-text>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
